button {
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;
  margin: 1.2rem auto 0 auto;
  border: none;
  border-radius: 3px;
  padding: 1.1rem;
  width: 9rem;
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
