// imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

// background colors
$bg-color-primary: #ffcc00;
$bg-color-secondary: black;

// fonts

// font colors
$font-color-tertiary: #ffffff;
$font-color-secondary: grey;
$font-color-primary: #010100;
