// imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

// background colors
$bg-color-primary: #6357ff;
$bg-color-secondary: #1d1d1b;

// fonts

// font colors
$font-color-primary: #ffffff;
$font-color-secondary: #6458ff;
$font-color-tertiary: #010100;
