@import '../../styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 3rem 3rem;
  background: $bg-color-secondary;
  color: $font-color-tertiary;
  font-size: 0.9rem;

  @media (min-width: 540px) {
    max-width: 20rem;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    text-align: left;

    .info {
      max-width: 7.5rem;
      @media (min-width: 540px) {
        max-width: 10rem;
        h4 {
          font-size: large;
        }
        p {
          font-size: medium;
        }
      }
    }

    .socials {
      display: flex;
      justify-content: space-between;
      padding-right: 2rem;
      max-width: 4rem;
      @media (min-width: 540px) {
        max-width: 5rem;
        padding-right: 2.7rem;
      }

      img {
        cursor: pointer;
        width: 25%;
        @media (min-width: 540px) {
          width: 30%;
          padding-right: 0.4rem;
        }
      }

      .twitter {
        padding-left: 0.3rem;
      }
    }
  }

  p {
    margin-top: -0.3rem;
  }

  img {
    height: 100%;
    width: 100%;
    max-width: 20rem;
  }
}
