@import '../../../App.css';
@import '../../../styles/variables.scss';

.team {
  background: $bg-color-primary;
  padding-top: 1rem;

  .preheader {
    font-size: 0.8rem;
    font-weight: 400;
  }
}
