@import '../../styles/variables.scss';
@import '../../App.css';

.navbar {
  position: absolute;
  color: $font-color-primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  h1 {
    font-family: 'Permanent Marker', cursive;
    padding-left: 1.5rem;
    cursor: pointer;
  }

  .links {
    display: flex;
    justify-content: space-between;
    background-color: $bg-color-primary;
    padding-top: 1.3rem;
    padding-right: 1.5rem;
    width: 7rem;

    img {
      width: 100%;
      height: 50%;
      cursor: pointer;
    }

    .twitter {
      padding-left: 0.4rem;
    }
  }
}
