@import '../../../App.css';
@import '../../../styles/variables.scss';

.contact {
  color: $font-color-tertiary;
  background: $bg-color-secondary;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 1360px) {
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    padding-top: 0;
  }

  h1 {
    @media (min-width: 1360px) {
      font-size: 4rem;
    }
  }

  .preheader {
    font-size: 0.8rem;
    font-weight: 400;
    @media (min-width: 1360px) {
      font-size: 1rem;
    }
  }

  form {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    outline: none;
    color: $bg-color-primary;
    margin-bottom: 3rem;

    @media (min-width: 1360px) {
      max-width: 500px;
    }

    ::placeholder {
      color: $font-color-tertiary;
      opacity: 0.7;
    }

    input {
      size: 50;
      font-size: 0.8rem;
      margin-bottom: 1.5rem;
      color: $bg-color-primary;
      background: $bg-color-secondary;

      @media (min-width: 1360px) {
        font-size: 1.3rem;
      }
    }

    textarea {
      font-size: 0.8rem;
      max-width: 294px;
      min-width: 294px;
      max-height: 40vh;
      background: $bg-color-secondary;
      outline: none;
      color: $bg-color-primary;
      @media (min-width: 1360px) {
        font-size: 1.3rem;
        max-width: 500px;
        min-width: 500px;
        width: 500px;
        max-height: 40vh;
      }
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $bg-color-primary;
    color: $font-color-primary;

    @media (min-width: 1360px) {
      width: 45%;
      flex-direction: row;
      justify-content: space-around;
    }

    .map {
      width: 100%;
      height: 100%;
      @media (min-width: 1360px) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        margin-top: 7.5rem;
        margin-left: -10rem;
        height: 75%;
        width: 120%;
      }
    }
  }
}

.left-side {
  @media (min-width: 1360px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts-info {
  @media (min-width: 1360px) {
    margin-top: 13rem;
    padding-right: 3rem;
  }
}

.contact-info {
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 2rem;

  p {
    font-weight: 400;
  }

  .header {
    color: $font-color-primary;
  }

  img {
    font-size: 0.8rem;
    width: 10%;
    @media (min-width: 1360px) {
      width: 20%;
    }
  }
}
